@import url("fonts/font.scss");

* {
  box-sizing: border-box;

  --foreground: black;
  --background: #eee;
  --accent: #37505d;
  --border-radius: 2.25rem;

  @media screen and (prefers-color-scheme: dark) {
    --foreground: white;
    --background: #333;
    --accent: #56a7d3;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Jost, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
}

main {
  width: 100vw;
  padding: 8rem 6.5rem 0;

  img {
    border-radius: var(--border-radius);
  }
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: all 300ms ease-in-out;
  font-weight: 400;

  &:hover {
    color: color-mix(in srgb, var(--accent) 75%, var(--foreground) 25%);
    text-decoration: underline;
  }
}

h1 {
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}